:root {
  --primary-color: #6c63ff;
  --secondary-color: #132540;
  --tercery-color: #efefef;
  --background-color: #fff;
}

html {
  font-family: "Poppins", sans-serif;
}

[data-theme="dark"] {
  --primary-color: #6c63ff;
  --secondary-color: #efefef;
  --tercery-color: #fff;
  --background-color: #132540;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 60px;
  overflow-x: hidden;
  width: 100%;
}

body{
  background-color: var(--background-color);

}

h1,
h2,
h3,
p {
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 20px;
}

h1 {
  font-size: 32px;
  position: relative;
}

.with-left-underline, .with-center-underline {
  display: inline-block;
}

.with-left-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: var(--primary-color);
}

.with-center-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 2px;
  background-color: var(--primary-color);
}

h1,
h2,
.lang {
  font-family: "Lilita One", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.colorModeContainer {
  position: absolute;
  z-index: 1000;
}

.colorMode {
  position: fixed;
  right: 3%;
  bottom: 3%;
  width: 25px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  background-color: var(--background-color);
}

.colorMode:hover {
  cursor: pointer;
}



/* html, body { height: 100%; width: 100%; } */
body { margin: 0; font-family: "Poppins", sans-serif; }


/* *** GLOBALS *** */

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

/* *** TEXTES *** */

.text-light {
  color: #fff
}

.text-night {
  color: #132540;
}

.text-exerg {
  color: var(--primary-color);
}

/* *** BACKGROUND *** */

.bg-purple {
  background-color: var(--primary-color);
}

.bg-plain-transp {
  background-color: #6b63ff60;
  backdrop-filter: blur(25px)
}

.bg-plain {
  background-color: var(--primary-color);
  border-radius: 35px;
}

.bg-around {
  border: 4px solid var(--primary-color);
  border-radius: 35px;
  padding: 25px;
}

.bg-dot {
  background-color: var(--primary-color);
  border-radius: 100px;
  color: #fff;
}

/* *** Navigation *** */

nav li a {
  display: inline-block;
  color: var(--secondary-color);
  font-weight: 600;
  text-transform: capitalize !important;
  margin: 5px;
  padding: 5px;
  transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

nav li a:hover {
  color: var(--secondary-color);
  opacity: 0.6;
  transform: translateY(-5px);
}

footer nav li a {
  display: inline-block;
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize !important;
  margin: 5px;
  padding: 5px;
  transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

footer nav li a:hover {
  color: #fefefe;
  opacity: 0.6;
  transform: translateY(-5px);
}
